<%- include("partials/header.ejs") %>
<div class="left"></div>
<form action="/reset-password/<%= token %>" method="post">
    <h2>Reset Password</h2>
    <% if (error){ %> 
       <div class="msg error">
           <li><%= error %></li>
       </div>
    <% } %>
    <div class="auth-items">
        <label for="password">New Password:</label>
        <input type="password" name="password" required />
    </div>
    <div class="auth-items">
        <label for="confirmPassword">Confirm Password:</label>
        <input type="password" name="confirmPassword" required />
    </div>
    <div class="auth-items">
        <button class="btn btn-big" type="submit">Reset</button>
    </div>
    
</form>
<div class="right"></div>
<%- include("partials/footer.ejs") %>
