<%- include("partials/header.ejs") %>
<h2>Development</h2>
<ul>
    <li>Shakur Mustafa Omer</li>
    <li>Pujan Shahi</li>
    <li>Stephen Oke Mathew</li>
</ul>
<h2>Acknowledgement</h2>
<h3>Testing</h3>
<ul>
    <li>Ethan La <i>Think Aloud Testing</i></li>
</ul>
<%- include("partials/footer.ejs") %>