<%- include("partials/header.ejs") %>
<form action="Search" method="POST">
    <div class="search">
        <span class="search-icon material-symbols-outlined">search</span>
        <input class="search-input" type="search" placeholder="Browse Recipes">
    </div>
</form>
<div class="results">
    
</div>
<%- include("partials/footer.ejs") %>