<%- include("partials/header.ejs") %>
<div class="auth-content">
  <form class="auth-form" method="POST" action="/otp-login">
    <h2>Login with OTP</h2>
    <% if (error) { %>
      <div class="msg error"><li><%= error %></li></div>
    <% } %>
    <div class="auth-items">
      <label>Email:</label>
      <input type="email" name="email" required>
    </div>
    <div class="auth-items">
      <button class="btn btn-big" type="submit">Send OTP</button>
    </div>
  </form>
</div>
<%- include("partials/footer.ejs") %>
