<%- include("partials/header.ejs") %>
<div class="auth-content">
  <form class="auth-form" method="POST" action="/verify-otp">
    <h2>Enter OTP</h2>
    <% if (error) { %>
      <div class="msg error"><li><%= error %></li></div>
    <% } %>
    <input type="hidden" name="uid" value="<%= uid %>">
    <div class="auth-items">
      <label>OTP:</label>
      <input type="text" name="otp" required>
    </div>
    <div class="auth-items">
      <button class="btn btn-big" type="submit">Verify</button>
    </div>
  </form>
</div>
<%- include("partials/footer.ejs") %>
