<%- include("partials/header.ejs") %>
<div class="left"></div>
<div class="auth-content">
    <form class="auth-form" action="/signup" method="POST">
        <h2>Sign Up</h2>

        <% if(locals.error) { %>
            <div class="msg error">
                 <li><%=error%> </li>
            </div>
        <% } %>

        <!-- First Name -->
        <div class="auth-items">
            <label for="fname">
                First Name
            </label>
            <input type="text" name="fname" id="fname" placeholder="Enter First Name" required>
        </div>
            
            
        <!-- Last Name -->
        <div class="auth-items">
            <label for="lname">
                Last Name
            </label>
            <input type="text" name="lname" id="lname" placeholder="Enter Last Name" required>
        </div>
        
        <!-- Email Address -->
        <div class="auth-items">
            <label for="email">
                Email Address
            </label>
            <input type="email" name="email" id="email" placeholder="Enter Email Address" required>
        </div>

        <!-- Password -->
        <div class="auth-items">
            <label for="password">
                Password
            </label>
            <input type="password" name="password" id="password" placeholder="Password" required>
            <div id="strength-message"></div>
                <script>
                    const passwordInput = document.getElementById("password");
                    const message = document.getElementById("strength-message");

                    passwordInput.addEventListener("input", () => {
                        const val = passwordInput.value;
                        const passwordRegex = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d).{8,}$/;
                        let strength = 0;
                        if (val.length >= 8) strength++;
                        if (/[a-z]/.test(val)) strength++;
                        if (/[A-Z]/.test(val)) strength++;
                        if (/\d/.test(val)) strength++;
                        if (/[\W_]/.test(val)) strength++;

                        switch (strength) {
                            case 0:
                            case 1:
                            case 2:
                                message.textContent = "Weak"; 
                                // message.style.color = "red"
                                message.classList.add("msg")
                                message.classList.remove("warning")
                                message.classList.add("error");
                                break;
                            case 3:
                            case 4:
                                message.textContent = "Moderate";
                                // message.style.color = "orange";
                                message.classList.remove("success")
                                message.classList.add("warning");

                                break;
                            case 5:
                                message.textContent = "Strong";
                                // message.style.color = "green";
                                message.classList.add("success")
                                break;
                        }
                    });

                </script>
        </div>
        
        
        <!-- Password Confirmation -->
        <div class="auth-items">
            <label for="passwordConf">
                Confirm Password
            </label>
            <input type="password" name="passwordConf" id="passwordConf" placeholder="Password" required>
        </div>

        <!-- Phone Number -->
        <div class="auth-items">
            <label for="phone">
                Phone Number
            </label>
            <input type="tel" name="phone" id="phone" placeholder="Enter Phone Number">
        </div>

        <!-- Submit Button -->
        <div class="auth-items">
            <button type="submit" name="register-btn" class="btn btn-big">Sign Up</button>
        </div>

        <p><a class="register" href="/login">Already have an account? Login</a></p>
    </form>
</div>
<div class="right"></div>
<%- include("partials/footer.ejs") %>